In [31]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [32]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
base= pd.read_csv('../bases/MercadoSim.csv', sep=';',header=None)
base

       0     1        2    3         4      5       6
0    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
1  Leite   NaN  Cerveja  Pao  Manteiga    NaN     NaN
2    NaN  Cafe      NaN  Pao  Manteiga    NaN     NaN
3  Leite  Cafe      NaN  Pao  Manteiga    NaN     NaN
4    NaN   NaN  Cerveja  NaN       NaN    NaN     NaN
5    NaN   NaN      NaN  NaN  Manteiga    NaN     NaN
6    NaN   NaN      NaN  Pao       NaN    NaN     NaN
7    NaN   NaN      NaN  NaN       NaN    NaN  Feijao
8    NaN   NaN      NaN  NaN       NaN  Arroz  Feijao
9    NaN   NaN      NaN  NaN       NaN  Arroz     NaN

In [33]:
base.shape

(10, 7)

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [34]:
transacoes = []
for i in range(len(base)):
    transacoes.append([str(base.values[i, j]) for j in range(base.shape[1]) if not pd.isna(base.values[i, j])])

In [35]:
te = TransactionEncoder()
te_ary = te.fit(transacoes).transform(transacoes)
df = pd.DataFrame(te_ary, columns=te.columns_)

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [36]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)

In [37]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)

In [38]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Cafe),(Manteiga),0.3,0.5,0.3,1.0,2.0,1.0,0.15,inf,0.714286,0.600000,1.0,0.800
1,(Cafe),(Pao),0.3,0.5,0.3,1.0,2.0,1.0,0.15,inf,0.714286,0.600000,1.0,0.800
2,(Pao),(Manteiga),0.5,0.5,0.4,0.8,1.6,1.0,0.15,2.5,0.750000,0.666667,0.6,0.800
3,(Manteiga),(Pao),0.5,0.5,0.4,0.8,1.6,1.0,0.15,2.5,0.750000,0.666667,0.6,0.800
4,"(Pao, Cafe)",(Manteiga),0.3,0.5,0.3,1.0,2.0,1.0,0.15,inf,0.714286,0.600000,1.0,0.800
5,"(Cafe, Manteiga)",(Pao),0.3,0.5,0.3,1.0,2.0,1.0,0.15,inf,0.714286,0.600000,1.0,0.800
6,(Cafe),"(Pao, Manteiga)",0.3,0.4,0.3,1.0,2.5,1.0,0.18,inf,0.857143,0.750000,1.0,0.875

In [39]:
print("\nItemsets frequentes:")
print(frequent_itemsets)

Itemsets frequentes:
   support               itemsets
0      0.3                 (Cafe)
1      0.5             (Manteiga)
2      0.5                  (Pao)
3      0.3       (Cafe, Manteiga)
4      0.3            (Pao, Cafe)
5      0.4        (Pao, Manteiga)
6      0.3  (Pao, Cafe, Manteiga)

In [48]:
print("\nRegras de associação:")
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'leverage', 'certainty']])

Regras de associação:
        antecedents      consequents  support  confidence  leverage  certainty
0            (Cafe)       (Manteiga)      0.3         1.0      0.15        1.0
1            (Cafe)            (Pao)      0.3         1.0      0.15        1.0
2             (Pao)       (Manteiga)      0.4         0.8      0.15        0.6
3        (Manteiga)            (Pao)      0.4         0.8      0.15        0.6
4       (Pao, Cafe)       (Manteiga)      0.3         1.0      0.15        1.0
5  (Cafe, Manteiga)            (Pao)      0.3         1.0      0.15        1.0
6            (Cafe)  (Pao, Manteiga)      0.3         1.0      0.18        1.0